.crd {
  margin-top: 10px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.text-center {
  font-size: 3.2rem;
  opacity: 0.5;
}

body {
  background-color: #f6f7f8;
  min-height: 100vh;
}

.form-container {
  max-width: 800px;
  margin-top: 10px;
}

.passwords-container {
  max-width: 800px;
}
.manb {
  justify-content: center !important;
}

.filter-search {
  position: relative;
}

.filter-input {
  padding-left: 30px;
}

.filter-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  opacity: 0.5;
}

.eyestyle {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.password-container {
  position: relative;
}
